* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(100deg, #4C1198 -14.17%, #3426AE 95.5%, #173ec8 119.1%);
    color: #FFFFFF;


}



header {
    font-size: 14px;
    font-weight: 600;

}
.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
     
}
nav li {
    display: block;
    padding: 37px 15px;
    
    
}

section {

    display: flex;
    justify-content: space-around;
    align-items: center;

}
h1 { 
    font-weight: 600;  
    font-size: 56px;
    line-height: 84px;
}
p {
    font-weight: 400;
    font-size: 12px;
    max-width: 299px;
}
.buttn {
    font-size: 18px;
    background: linear-gradient(90deg, #C436B9 -9.67%, #1FC4E0 113%);
    border-radius: 50px;
    padding: 10px 23px 11px 23px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}

.main-right {
    padding: 80px 0 72px ;
}